# Server Configuration
PORT=3000
ENV=development
CORS_ORIGINS=http://localhost:5173

# Database Configuration
DATABASE_URL=postgresql://wemake_db_user:vAUOlKVbuQ5CS0i8mw76nMSUW1n2iVzs@dpg-d7jnljiqqhas738ioi20-a.singapore-postgres.render.com/wemake_db
DB_HOST=localhost
DB_PORT=5432
DB_USER=poon
DB_PASSWORD=123456
DB_NAME=wemake
DB_SSLMODE=disable

# JWT Configuration
JWT_SECRET=your-secret-key-change-in-production
